.works {
    padding: 100px 0 70px ;
    .title {
        padding: 0 4vw;
        font-size: 3rem;
        margin-bottom: 50px;
        @include overTab{
        max-width: 1000px;
        font-size: 60px;
        align-items: center;
        margin: 0 auto 80px;
        padding: 0 20px;
        }
        &:after {
            width: 90px;
            content: "";
            display: inline-block;
            background-color: #fff;
            height: 5px;
            margin-left: 30px;
            vertical-align: middle;
            @include overTab{
                width: 200px;
            }
        }
    }

    .list {
        display: block;
        padding: 0 4vw;
        margin-bottom: 80px;
        @include overTab{
            max-width: 1000px;
            padding: 0 50px ;
            margin: 0 auto 80px;
            display: flex;
            justify-content: space-between;
        }
        .item {
            background-color: white;
            width: 100%;
            margin: 0 auto 30px;
            @include overTab{
            width: 32%;
            }
            .item-text {
                padding: 25px 20px;
            }
        }
    }
}
.bg-works {
    background-image: url(https://hijirilife.github.io/cresta_second/img/works-bgi@2x.jpg);
    background-size: cover;
    background-position: center;
}
